@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
}
/*AQUÍ COMIENZA LA PARTE DE LA WEB CLIENTE*/
/*AQUÍ COMIENZA LA CABECERA WEB*/
#contenedorCabecera {
    width: 100%;
    height: 200px;
    position: fixed;
}

#contenedorCabecera-Sup {
    width: 100%;
    height: 150px;
    background-color: white;
    z-index: 9999;
}

#contenedorCabecera-Menu {
    width: 100%;
    height: 50px;
    display: table;
    z-index: 2;
}

#contenedorCabecera-Menu a{
    text-decoration: none;
    color: var(--color-verdeOscuro);
    line-height: 30px;
}

.lista {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.componente-lista {
    display: inline-block;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    visibility: visible;
}

.componente-lista:hover {
    background-color: var(--color-marron);
    color: white;
}

#logotipoCabecera {
    width: 450px;
    height: 100%;
}

#logotipo {
    width: 90%;
    height: auto;
    margin: 15px 15px;
}

#iconoAdmin {
    width: 200px;
    height: 150px;
    position: absolute;
    margin-left: 85%;
    margin-top: -150px;
}

#icono {
    width: 10%;
    height: auto;
    transform: rotate(17.26deg);
    margin-top: 50px;
}

#span-Admin {
    color: var(--color-marron);
    font-weight: bold;
    position: absolute;
    margin-top: 63px;
    margin-left: 10px;
}

.oculto {
    visibility: hidden;
}

#logotipoCabeceraMovil {
    width: 100%;
    height: 250px;
    z-index: 9999;
    background-color: white;
    position: absolute;
}
#iconoAdminMovil {
    width: 200px;
    height: 150px;
    z-index: 9990;
    position: absolute;
    margin-left: 80%;
    margin-top: -35px;
    
}

#iconoMovil {
    width: 20%;
    height: auto;
    transform: rotate(17.26deg);
    margin-top: 50px;
}

#span-AdminMovil {
    font-weight: bold;
    margin-top: 90px;
    position: absolute;
    margin-left: 10px;
    color: white;
}
 
.sinDecoracion {
    text-decoration: none;
    color: white;
}

.nivelInferior {
    margin-top: 250px;
    z-index: 2;
    position: absolute;
}
.nivelInferior2 {
    margin-top: 250px;
    z-index: 3;
    position: absolute;
}

/*AQUÍ TERMINA LA CABECERA WEB*/
/*AQUÍ CONCLUYE LA PARTE DE LA WEB CLIENTE*/

/*VENTANA MODAL INICIO SESION*/

#miModal {
    width: 100%;
    height: 100vh;
}

.modal-contenido{
    background-color:aqua;
    width:20%;
    padding: 10px 20px;
    margin: 20% auto;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 10000;
  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }
/*FIN VENTANA MODAL INICIO SESION*/

/*MODAL USUARIO*/
.modal-contenido-Usuario{
    background-color:aqua;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modalUsuario{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #miModalUsuario:target{
    opacity:1;
    pointer-events:auto;
  }
/*FIN MODAL USUARIO*/
/*INICIO DEL MENÚ*/
#menuAdmin {
    height: 100vh;
    width: 100px;
    position: absolute;
    background-color: var(--color-marron);
    z-index: 9999;
}

.cList {
    width: 100%;
    height: 50px;
    margin-top: 43px;
}

.cListImg {
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.eImg {
    height: 100%;
    width: auto;
}

#menuAdmin-Submenu {
    height: 100vh;
    width: 300px;
    margin-left: -200px;
    position: absolute;
    background-color: var(--color-marron);
    z-index: 1;
}   

.tList {
    width: 60%;
    height: 50px;
    margin-top: 43px;
    margin-left: 100px;
    font-weight: bold;
}

.tList span {
    line-height: 50px;
    color: white;
}

.tList a {
    text-decoration: none;
}

#icono1 {
    visibility: visible;
}
/*FINAL DEL MENU*/

#iconoBarras {
    visibility: hidden;
}

@media only screen 
  and (max-device-width: 960px) {
    #menuAdmin {
        height: 120px;
        width: 100%;
        position: absolute;
    }

    #menuAdmin-Submenu {
        height: 500px;
        width: 100%;
        margin-top: -520px;
        margin-left: 0px;
    }   

    .cListImg {
        width: 90%;
        height: 100%;
        margin-left: -40%;
        text-align: center;
    }

    .tList {
        width: 100%;
        height: 50px;
        margin-left: 120px;
        font-weight: bold;
        margin-top: 43px;
    }

    #icono1 {
        visibility: hidden;
    }

    #contenedorCabecera-Sup {
        z-index: 9999;
        position: absolute;
    } 

    #contenedorCabecera-Menu {
        background-color: var(--color-marron);
        height: 500px;
        z-index: 1;
        position: absolute;
        margin-top: -250px;
    }

    .componente-lista {
        display: block!important;
        color: white;
        text-align: left;
    }

    .separacion1 {
        margin-top: 200px;
    }

    .separacion {
        margin-top: 20px;
    }

    #imgCamb2 {
        width: 8%;
        margin-top: 10px;
    }

    #iconoBarras {
        width: 100%;
        position: absolute;
        background-color: var(--color-marron);
        margin-top: 150px;
        visibility: visible;
        z-index: 2;
    }
}